PORT="puerto de uso de la app"

MONGODB_ATLAS="cadena de conección de la appp"

SECRET_PRIVATE_KEY="palabra secreta para tokenizar"

GOOGLE_CLIENT_ID="credenciales de google"

GOOGLE_SECRET_ID="secret de google"
